

.graph {
    content: "";
    clear: both;
    display: table
}

.column {
    float: left;
    height: 500px;
    width: 500;
    padding: 5px;
}
body{
    background-image: url("../static/backgrounds/grape.jpg");
    background-size:cover;
    background-color:antiquewhite;
    font-family: verdana;
    cursor: pointer;
}

.buttons{
    background-color: rgb(173, 1, 1);
    color: white;
    border: none;
    height: 25px;
    width: auto;
    border-radius: 2px;
    cursor: pointer;
    }
  
    .main{
      background-color: #4CAF50;
    color: whitesmoke;
    border: none;
    height: 25px;
    width: auto;
    border-radius: 2px;
    }