<html>

<head>
    <link rel="stylesheet" href="/static/style.css" />
</head>

<body>
    <form method="POST" action="/logout">

        <p align="right">
            <input type="submit" value="Logout">
        </p>

    </form>
    <center>
        Leave a question, respond to one, or just read what others think
        <br>
        Comments you have left (if any) are in bold and noted with -->
        <br>

        <form method="POST" action="/add_comment">
            <br>
            <textarea rows="3" cols="30" name="comment" placeholder="Leave a comment"></textarea>
            <br><br>
            <input type="submit" value="Submit">
        </form>

        {% for i in range(total_comments) %}
        {% if all_comments[i].comment == user_comments_array[i].comment %}
        <div class="userComment">
            <p>--> {{user_comments_array[i].comment}}</p>
        </div>
        {% else %}
        <p>{{all_comments[i].comment}}</p>
        {% endif %}
        {% endfor %}

        <br>
        <form method="POST" action="/main">
            <input type="submit" value="Return to main page">
            </p>
        </form>
    </center>
</body>

</html>