<html>

<head>
    <link rel="stylesheet" href="/static/style.css" />
</head>

<body>
    <form method="POST" action="/logout">
        <p align="right">
            <input type="submit" value="Logout">
        </p>
    </form>

    <form method="POST" action="/input_data">
        <input type="submit" value="Update profile data">
    </form>

    <form method="POST" action="/health_tracker">
        <input type="submit" value="Go to your health tracker">
    </form>

    <form method="POST" action="/chatArea">
        <input type="submit" value="Chat area">
    </form>

    <h1>
        <center>Estimated Weight and BMI</center>
    </h1>
    <center>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        {{message}}
        {% endfor %}
        {% endif %}
        {% endwith %}
        
    <form method="POST" action="/estimate_graph">
        <br>
        Enter calories per day (Ex: 2500, 2600, 2000, ...): <input type="text" name="calorie_intake" size="10">
        <br><br>
        <input type="submit" value="Estimate">
    </form>
    <form method="POST" action="/main">
        <input type="submit" value="Return to main page">
    </form>
    </center>
    {% if esti is defined %}
    <div class="graph">
        <div class="column">
            {{esti|safe}}
        </div>
        <div class="column">
            {{esti_weight|safe}}
        </div>
    </div>
    {% endif %}
</body>

</html>