<html>

<head>
    <link rel="stylesheet" href="/static/healthtracker.css" />
</head>

<body>
    <form method="POST" action="/logout">

        <p align="right">
            <input type="submit" class = "buttons" value="Logout">
        </p>

    </form>


    <h1>
        <center>Welcome to your health tracker!</center>
    </h1>



    <form method="POST" action="/add_new_food">
        <p>
            <center><label for="food">Add the food you ate: </label> </center>
            <center><input type="text" name="ate_foods" /> </center>


            <center> <input type="submit" class = "main" value="Submit" /></center>


        </p>
    </form>
    <h2>
        <center>Here are the foods you've eaten {{first_name}}</center>
    </h2>
    {% for ele in food_list %}
    <h2>
        <center>{{ele}}</center>
    </h2>
    {% endfor %}
    <form method="POST" action="/main">
        <p>
            <center><input type="submit" class = "buttons" value="Return to main page"></center>
        </p>
    </form>


</body>

</html>