<html>

<head>
    <link rel="stylesheet" href="/static/style.css" />
</head>

<body>
    <form method="POST" action="/logout">
        <p align="right">
            <input type="submit" class = "buttons" value="Logout">
        </p>
    </form>

    <form method="POST" action="/input_data">
        <input type="submit" class = "main" value="Update profile data">
    </form>

    <form method="POST" action="/health_tracker">
        <input type="submit" class = "main" value="Go to your health tracker">
    </form>

    <form method="GET" action="/estimate_graph">
        <input type="submit" class = "main" value="Estimate based on Calorie intake">
    </form>

    <form method="POST" action="/chatArea">
        <input type="submit" class = "main" value="Chat area">
    </form>

    <h1>
        <center>Hello, Welcome to Your Profile</center>
        <center>{{first_name}}</center>
    </h1>
    <div class="graph">
        <div class="column">
            {{BMI|safe}}
        </div>
        <div class="column">
            {{height|safe}}
        </div>
        <div class="column">
            {{weight|safe}}
        </div>
        <div class="column">
            {{calories|safe}}
        </div>
    </div>
</body>

</html>