<html>

<head>
    <link rel="stylesheet" href="/static/style.css" />
</head>

<body>
    <center>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        {{message}}
        {% endfor %}
        {% endif %}
        {% endwith %}
        <br>
        Enter your username and password to login
        <form method="POST" action="/login">
            <input type="text" name="username" placeholder="Enter your username" size="20">
            <br><br>
            <input type="text" name="password" placeholder="Enter your password" size="20">
            <br><br>
            <input type="submit" value="Login">
        </form>
        If you have no account yet, please <a href="{{url_for('signup_form')}}">sign up</a>
    </center>
</body>

</html>