<html>

<head>
    <link rel="stylesheet" href="/static/style.css" />
</head>

<body>
    <center>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        {{message}}
        {% endfor %}
        {% endif %}
        {% endwith %}
        <br>
        Fill out form below with your information to register an account.
        <form method="POST" action="/signup">
            Enter a username: <input type="text" name="username" size="4">
            <br>
            Enter a password: <input type="text" name="password" size="4">
            <br>
            Enter your first name: <input type="text" name="first_name" size="5">
            <br>
            Enter your last name: <input type="text" name="last_name" size="5">
            <br>
            Enter your height: <input type="text" name="height" size="4">
            <br>
            Enter your weight: <input type="text" name="weight" maxlength="3" size="3"> lb
            <br>
            <input type="submit" value="Register">
        </form>
        If you already have an account, please <a href="{{url_for('index')}}"> login</a>
    </center>
</body>

</html>