<html>
  <head>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <div class="welcome">
      <div class="header">
        <form method="POST" action="/welcome">
          <p align="right">
            <input type="submit" class="buttons" name="button" value="Login" />
          </p>
        </form>
        <form method="POST" action="/welcome">
          <p align="right">
            <input
              type="submit"
              class="buttons"
              name="button"
              value="Sign up"
            />
          </p>
        </form>

        <h1>Health Stats Tracker</h1>
        <h2>The all in one app for tracking your health</h2>
      </div>
      <h3>
        Thank you for visiting this website. If you would like to use the
        features, please either sign up, if you do not have an account, or log
        in.
      </h3>
      <p>
        This web app can allow users to enter health statistics that they would
        like to keep track of. Users can input different statistics and check
        how what their statistics look like over a long period of time. This is
        meant to promote healthy living and habits, since users can check on
        their own personal health via this web app. It's as easy as signing up
        or logging in!
      </p>

      <h4>Why does this app matter?</h4>
      <p>
        This app is useful because it helps users anywhere keep track of their
        health. Physical health is a very important part of life; without
        keeping your body functioning well, most aspects of life will suffer.
        Therefore, this app is useful because it's one place for a user to make
        sure they are staying healthy by keeping track of their statistics, like
        weight, BMI, food intake etc. This app is meant to promote healthy
        living.
      </p>

      <h4>Makers of this app:</h4>
      <p>Guohao Jiao, Tony Derado, Javonte Whigham, Sara Patyi</p>
    </div>
  </body>
</html>
